<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<%= render 'shared/mailer_css' %>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="table-layout:fixed" align="center">
	<tbody><tr>
		<td align="center" bgcolor="#ececec">
        	<table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
            	<tbody><tr><td class="w640" width="640" height="20"></td></tr>
            	<tr>
                	<td class="w640" width="640">
                        <table id="top-bar" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#384047">
    						<tbody>
    							<tr>
							        <td class="w15" width="15"></td>
							        <td class="w325" width="350" valign="middle" align="left">
							            <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">
							                <tbody><tr><td class="w325" width="350" height="8"></td></tr>
							            </tbody></table>          
							        </td>
							        
						    	</tr>
							</tbody>
						</table>
                        
                    </td>
                </tr>
                <tr>
                	<td id="header" class="w640" width="640" align="center" bgcolor="#384047">
					    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
					        <tbody>
						        <tr>
							        <td class="w30" width="30"></td>
							        <td class="w580" width="580" height="30"></td>
							        <td class="w30" width="30"></td>
						     	</tr>
						        <tr>
						            <td class="w30" width="30"></td>
						            <td class="w580" width="580">
						                <div align="center" id="headline">
						                <p>
					                        <strong><singleline label="Title">
					                        	Request to BUY your book!
											 </singleline></strong>
					                    </p>
						                </div>
						            </td>
						            <td class="w30" width="30"></td>
						        </tr>
					    	</tbody>
					    </table>
					</td>
                </tr>
                
                <tr><td class="w640" width="640" height="30" bgcolor="#ffffff"></td></tr>
                <tr id="simple-content-row">
                	<td class="w640" width="640" bgcolor="#ffffff">
					    <table align="left" class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
					        <tbody>
					        	<tr>
					            	<td class="w30" width="30"></td>
						            <td class="w580" width="580">
            <repeater>
                
                <layout label="Text only">
                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                            <td class="w580" width="580">
                                <p align="left" class="article-title"><singleline label="Title" style="color: black;"><%= @buyer_name %> wants to buy your book!</singleline></p>
                                <div align="left" class="article-content">
                                    <multiline label="Description"></multiline>
                                </div>
                            </td>
                        </tr>
                        <tr><td class="w580" width="580" height="10"></td></tr>
                    </tbody></table>
                </layout>
                                    
                
                <layout label="Text with full-width image">
                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                            <td class="w580" width="580">
                                <p align="left" class="article-title"><singleline label="Title">He has sent you a message.</singleline></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580"><img editable="true" label="Image" class="w580" width="580" border="0"></td>
                        </tr>
                        <tr><td class="w580" width="580" height="15"></td></tr>
                        <tr>
                            <td class="w580" width="580">
                                <div align="left" class="article-content">
                                    <multiline label="Description"><%= @message %></multiline>
                                </div>
                            </td>
                        </tr>
                        <tr><td class="w580" width="580" height="10"></td></tr>
                    </tbody></table>
                </layout>
                                    
                
                <layout label="Text with right-aligned image">
                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                            <td class="w580" width="580">
                                <p align="left" class="article-title"><singleline label="Title">Please respond back. His email address is</singleline></p>
                                <table cellpadding="0" cellspacing="0" border="0" align="right">
                                    <tbody><tr>
                                        <td class="w30" width="15"></td>
                                        <td><img editable="true" label="Image" class="w300" width="300" border="0"></td>
                                    </tr>
                                    <tr><td class="w30" width="15" height="5"></td><td></td></tr>
                                </tbody></table>
                                <div align="left" class="article-content">
                                    <multiline label="Description"><%= @buyer_email %></multiline>
                                </div>
                            </td>
                        </tr>
                        <tr><td class="w580" width="580" height="10"></td></tr>
                    </tbody></table>
                </layout>
                                    
                
                
                                                                            
                
                <layout label="Two columns">
                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                        	<tr>
                                <td class="w275" width="275" valign="top">
                                    <table class="w275" width="275" cellpadding="0" cellspacing="0" border="0">
                                        <tbody><tr>
                                            <td class="w275" width="275">
                                                <p align="left" class="article-title"><singleline label="Title">Book Details</singleline></p>
                                                <div align="left" class="article-content">
                                                    <multiline label="Description">
			     	                                    Title:   <%= @book.book_group.title%><br>
					                                    Author:  <%= @book.book_group.author%><br>
				                                        Price:	 <%= @book.price%><br>
				                                       	Edition: <%= @book.edition%><br>
														ISBN:	 <%= @book.isbn%><br><br>
													</multiline>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td class="w275" width="275" height="10"></td></tr>
                                    </tbody></table>
                                </td>
                                <td class="w30" width="30"></td>
                            </tr>
                        </tbody>
                    </table>
                </layout>
            </repeater>
						            </td>
						            <td class="w30" width="30"></td>
					        	</tr>
					   		</tbody>
				    	</table>
					</td>
				</tr>
                <tr><td class="w640" width="640" height="15" bgcolor="#ffffff"></td></tr>
                
                <tr>
                	<td class="w640" width="640">
					    <table id="footer" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#384047">
					        <tbody>
						        <tr>
							        <td class="w30" width="30"></td>
							        <td class="w580 h0" width="360" height="30"></td>
							        <td class="w0" width="60"></td>
							        <td class="w0" width="160"></td>
							        <td class="w30" width="30"></td>
						        </tr>
						        <tr>
						            <td class="w30" width="30"></td>
						            <td class="w580" width="360" valign="top">
						            	<span class="hide"><p id="permission-reminder" align="left" class="footer-content-left"><span></span></p>
						            	</span>
						            	
						            	<p align="left" class="footer-content-left"><preferences lang="en"></preferences> <unsubscribe></unsubscribe></p>
						            </td>
						            	<td class="hide w0" width="60"></td>
						            	<td class="hide w0" width="160" valign="top">
						            		<p id="street-address" align="right" class="footer-content-right"><span>DA-IICT, Gandhinagar, Gujarat, India, 382007</span></p>
						            	</td>
						            	<td class="w30" width="30"></td>
						        </tr>
						        <tr>
							        <td class="w30" width="30"></td>
							        <td class="w580 h0" width="360" height="15"></td>
							        <td class="w0" width="60"></td>
							        <td class="w0" width="160"></td>
							        <td class="w30" width="30"></td>
						        </tr>
					    	</tbody>
					    </table>
					</td>
                </tr>
                <tr>
                	<td class="w640" width="640" height="60"></td>
                </tr>
            </tbody>
            </table>
        </td>
	</tr>
</tbody>
</table>
</body></html>

