    <h1>Reset Password</h1>  
      
    <%= form_for @city_vendor, :url => update_vendor_password_path(params[:id].to_s) do |f| %>  
      <%= render 'shared/error_messages', object: f.object %>  
      <div class="field">  
        <%= f.label :password %>  
        <%= f.password_field :password %>  
      </div>  
      <div class="field">  
        <%= f.label :password_confirmation %>  
        <%= f.password_field :password_confirmation %>  
      </div>  
      <div class="actions"><%= f.submit "Update Password" %></div>  
    <% end %>  