<div class='panel'>
<div class="panel-heading">
<h4><i class="fa fa-money"></i> Books on Sale</h4></div>
                <div class='panel-body'>
    <% if not (books.nil? || books.count == 0) %>
        <div class='row'>
            <% books.each do |book| %>
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <%= image_tag book.info.image.url, {:style => 'width:100px;height:150px;'} %>
                        <div class="caption">
                            <% if not book.price.nil? %>
                                <h5 class="pull-right">&#8377;<%= book.price*0.75 %></h5>
                            <% end %>
                            <h5>
                                <b><%= book.info.title %></b>
                            </h5>
                            <p>
                                <b>Author: </b> <%= book.info.author %>
                                <br/>
                                <b>Publisher: </b> <%= book.info.publisher %>
                                <br/>
                                <b>Edition: </b> <%= book.edition%>
                                <br />
                                <%if book.reserved %>
                                    <span class='label label-primary'><%="Sold"%></span>
                                    <br />
                                    <b>Baught By: </b> <%= book.buyer.first_name %> <%= book.buyer.last_name %>
                                <%end%>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
    <center><h5 class="alert alert-info col-md-4 col-md-offset-4"><i class="fa fa-info-circle"></i> There are no books on sale. </h5></center>
    <% end %>
</div>
</div>