<%
meta site: "TheCollegeStore",
     keywords: ["#{@user.first_name}", "#{@user.last_name}"]
%>

<% title "#{@user.first_name} #{@user.last_name}"%>
<!--page wrapper-->
<div id="page" class="container center-block">
    <div class='row'>
        <div class='col-md-3'>
            <div class="panel">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <% if @user == current_user %>
                            <li role="presentation" class="active"><%= link_to("<i class='fa fa-fw fa-user'></i>My Profile".html_safe, "/profiles/show_profile/#{@user.id}", :remote => true) %>
                            </li>
                            <li role="presentation"><%= link_to("<i class='fa fa-edit fa-fw'></i>Edit Profile".html_safe, "/profiles/edit_profile", :remote => true) %>
                            </li>
                            <li role="presentation"><a href="#"><i class="fa fa-tag fa-fw"></i> My Coupons</a></li>
                            <li role="presentation"><%= link_to("<i class='fa fa-book fa-fw'></i>Books On Sale".html_safe, "/profiles/books_on_sale/#{@user.id}", :remote => true) %>
                            </li>
                            <li role="presentation"><%= link_to("<i class='fa fa-money fa-fw'></i>Purchased Books".html_safe, "/profiles/books_purchased/#{@user.id}", :remote => true) %>
                            </li>
                        <% else %>                        
                            <li role="presentation" class="active"><%= link_to("<i class='fa fa-fw fa-user'></i>Profile".html_safe, "/profiles/show_profile/#{@user}", :remote => true) %>
                            </li>
                            <li role="presentation"><%= link_to("<i class='fa fa-book fa-fw'></i>Books On Sale".html_safe, "/profiles/books_on_sale/#{@user.id}", :remote => true) %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class='panel'>
                <div class='panel-body'>
                    <div class="row" id="profile-content">
                        <%= render :partial => "profiles/show_profile", :locals => {:user => @user} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>