<div class="links">
	<div class="inline-popups">
        <a href="#cart-popup" data-effect="mfp-3d-unfold"> cart </a>	
	</div>
</div>
<% if not books.empty?%>
	<% books.each do |b|%>
		<div id="cart_item_<%=b.id%>}">
			<%=b[:group].title%>, <%=b[:group].author%>, <%=b[:group].publisher%>, <%= b.edition%>,<%= link_to "remove", remove_item_path(b.id), remote: true%></br>
		</div>
	<%end%>
<p><%= link_to "Checkout", checkout_path %></p>
<%end%>


<div id="cart-popup" class="white-popup mfp-with-anim mfp-hide">
  <div class="popup-head"> Cart </div>
  <div class="totalamount">
    <div class="table-heading">
        <div class="header-attr-1">Book</div>
        <div class="header-attr-2"> Seller</div>
        <div class="header-attr-3"> Price</div>
        <div class="header-attr-4"> Remove</div>
    </div>
  </div>

  <div class="maintable">
  <table class="container_table">
    <tbody>
      <tr>
        <td>
          <img src="1.jpg" class="item-image"/>
          <div style="margin-top:20px; color:black;">
          <div class="book-title"> Introdiction to Algorithms</div>
          <div class="cart-author">Author : H. Cormen </div>
          <div class="cart-edition"> Edition : 2nd</div>
          </div>
        </td>
        <td>
         <div> Jayant Pareek </div>
         <div> DA-IICT </div>
        </td>
        <td>Rs.315</td>
        <td> <img src="cartout1.png" class="cartout-img"/> </td>
      </tr>
    </tbody>
  </table>

  </div>
  <div class="totalamount">
      <div class="amounthead">
            Total Estimated Amount
            <span class="totalprice"> Rs. 945 </span>
      </div>
  </div>
  <div class="checkoutbtn">
  </div>
</div>