<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><h4>My Shopping Cart <i class="fa fa-shopping-cart"></i><i data-dismiss="modal" class="clickable pull-right fa fa-close"></i></h4>
        </div>
        <div class="modal-body">
            <div class='row' id='results'>
				<% if not books.empty? %>
                    <% books.each do |b|%>
                        <div class="col-sm-3 col-lg-3 col-md-3" id="cart_item_<%=b.id%>">
                            <div class="thumbnail">
                                <%= image_tag b[:group].image.url, {:style=>'width:100px;height:150px;'} %>

                                <div class="caption">
                                    <h5 class="pull-right">&#8377;<%=b.price%></h5>
                                    <h5>
                                        <p><b><%=b[:group].title %></b></p>
                                    </h5>
                                    <p><b>Author: </b>  <%=b[:group].author%></p>
                                    <p><b>Publisher: </b>  <%=b[:group].publisher%></p>
                                    <p><b>Edition: </b> <%=b.edition%></p>
                                </div>
                                <%= link_to "<button type='button' class='btn btn-danger'>remove</button>".html_safe, remove_item_path(b.id), remote: true%>
                            </div>
                        </div>
              		<% end %>
                <%else%>
					<p>There are no Books in your cart!</p>
				<%end%>
            </div>
        </div>
        <div class="modal-footer">
        	<div colspan="3" style="float:right">
				Total Estimated Amount
			</div>
			<div style="text-align:center;vertical-align: middle;">
				<i class="fa fa-inr fa-padding"></i>
				<span id="cart-total-price">
					<% if not session[:cart_total].nil? %>
						<%=session[:cart_total]%>
					<%else%>
					0
					<% end %>
				</span>
			</div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<% if not books.empty?%>
            	<a href="/cart/checkout"><button type="button" class="btn btn-success">Checkout</button></a>
        	<% end %>
       </div>
    </div>
</div>
