<div id="" style="background: white;padding: 30px;">
  <center><h4 class="cart-title"><i class="fa fa-shopping-cart fa-padding"></i>Cart</h4></center>
  
	<div>
		<table class="cart-table" style="">
			<% if not books.nil?%>
			<tr class="table-header">
		  		<th>Book</th>
		  		<th>Seller</th>
		  		<th>Price</th>
		  	</tr>
			  	<% books.each do |b|%>
			      <tr id="cart_item_<%=b.id%>" style="border-bottom: 3px solid rgb(234, 235, 223);">
			        <td style="">
			          <%= image_tag b[:group].image.url, {:class=>"item-image"} %>
			          	<%= link_to "<i class='fa fa-times-circle fa-padding cart-remove-icon'></i>".html_safe, remove_item_path(b.id), remote: true%>
			          	<p class="book-title"> <%=b[:group].title %></p>
			          	<p class="cart-author"> Author : <%=b[:group].author%></p>
			          	<p class="cart-edition"> Edition : <%= b.edition%></p>
			        </td>
			        <td style="text-align: center; padding: 0px;">
			        	<%=b[:user].first_name %>
			        </td>
			        <td style="text-align: center; padding: 0px;">
			        	<i class="fa fa-inr fa-padding"></i><%=b.price%>
			        </td>
			      </tr>
			      <tr>
				<td>
				</td>
				<td colspan="3" style="float:right">
					Total Estimated Amount
				</td>

				<td style="text-align:center;vertical-align: middle;">
					<i class="fa fa-inr fa-padding"></i>
					<span id="cart-total-price">
						<% if not session[:cart_total].nil? %>
							<%=session[:cart_total]%>
						<%else%>
						0
						<% end %>
					</span>
				</td>
			</tr>
				<%end%>
			<%else%>
				<p>There are no Books in your cart!</p>
			<%end%>
			
			
	  </table>
	  <% if not books.nil?%>
	  <div> 
	  	<%= link_to "Proceed", coupons_path, :class => 'button' %>
	  </div>
	  <% end %>
	</div>
</div>

	  