<% if not books.empty?%>
	<% books.each do |b|%>
		<div id="cart_item_<%=b.id%>}">
			<%=b[:group].title%>, <%=b[:group].author%>, <%=b[:group].publisher%>, <%= b.edition%>,<%= link_to "remove", remove_item_path(b.id), remote: true%></br>
		</div>
	<%end%>
<%end%>
