<%
meta site: "TheCollegeStore",
     description: "Checkout and buy books",
     keywords: ["Checkout"]
%>

<% title "Checkout" %>
<div class="container">
<h3><i class="fa fa-truck fa-padding"></i> Your Order</h3>
<div class="panel panel-body">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table table-hover">
	<tr style="background:#f8f8f8;">
		<th class="checkout-th">Book</th>
		<th class="checkout-th">Success</th>
		<th class="checkout-th">Collect it from:</th>
		<th class="checkout-th">Price</th>
	</tr>
	<% @books.each do |book| %>
			<tr>
			<td id="checkout-title" class="checkout-td">
				<span id="checkout-book-image"><%= image_tag "/assets/books/#{book.info.image_file_name}", {:class=>"checkout-mainimg"} %></span>
				<span id="checkout-book-name"><%=book.info.title%></span>
			</td>
			<td id="checkout-status" class="checkout-td">
				<%if book.err %>
					<i class="fa fa-times cross"></i>
				<%else%>
					<i class="fa-check fa tick"></i>
				<%end%>
			</td>
			<% if book.admin_user.nil? %>
				<td id="checkout-seller" class="checkout-td"><%=book.user.first_name%> <%=book.user.last_name%><br><%=book.user.mobile%></td>
            <% else %>
				<td id="checkout-seller" class="checkout-td"><strong><%=book.admin_user.full_name%><br>Room no.<%=book.admin_user.room%><br>Mobile.<%=book.admin_user.mobile%></strong></td>
			<%end%>
			<td id="checkout-price" class="checkout-td"><i class="fa fa-inr fa-padding"></i><%=book.price%></td>
		</tr>
	<% end %>
	<tr style="background: #f8f8f8; color:black">
		<td colspan="2">
		</td>
		<td colspan="1" style="text-align:center; padding:10px;">
			Total
		</td>
		<td colspan="1" style="text-align:center">
			<%=@total%>
		</td>
	</tr>
</table>
</div>
</div>
<% if not @coupons.empty? %>
	<table class="table table-hover">
		<tr style="background:#f8f8f8;">
			<th class="checkout-th">Avail coupon at:</th>
			<th class="checkout-th">Success</th>
			<th class="checkout-th">Code</th>
		</tr>
		<% @coupons.each do |coupon| %>
			<tr>
				<td class="checkout-td">
					<span><%=coupon.distributor_info.name%></span>
					<span><%=coupon.distributor_info.address%></span>
				</td>
				<td class="checkout-td">
					<%if coupon.err %>
						<i class="fa fa-times cross"></i>
					<%else%>
						<i class="fa-check fa tick"></i>
					<%end%>
				</td>
				<%if not coupon.err %>
					<td class="checkout-td"><%= coupon.dist_code %></td>
				<%end%>
			</tr>
		<% end %>
	</table>
<% end %>
<!-- <p class="alert alert-info">
<i class="fa fa-info-circle"></i>
	In order to activate the coupon(s), you need to show a printed copy of this message to the owner of the store or show it in your mobile.
</p> -->
<h4 class="center">
	Looking forward for more transactions!!!
</h4>
</div>

<div class="panel panel-body">
	<p>Message the seller(s):</p>
	<%= form_tag(request_seller_books_path) do %>
		<td><%= text_area_tag :message, nil, rows: "5", :style=>"width:100%;" %></td>
		<% @books.each do |b| %>
	    	<%= hidden_field_tag "books_ids[]", b.id %>
		<% end %>
		<br />
		<td><%= submit_tag "Send", :class => 'btn btn-success'%></td>
	<% end %>
</div>