<% @books.each do |book| %>
	<tr>
		<td><%=book.info.title%></td>
		<td><%=book.info.author%></td>		
		<td><%=book.info.publisher%></td>
		<td><%=book.price%></td>
		<td><%=book.user.first_name%> <%=book.user.last_name%></td>
		<td>
			<%if book.err %>
				Sorry, This book was recently booked by someone else
			<%else%>
				Order Placed!
			<%end%>
		</td>
	</tr>
<% end %>

Total:<%=@total%>

<p>Message the seller(s):</p>
<%= form_tag(request_seller_books_path) do %>
	<td><%= text_area_tag :message %></td>
	<% @seller_ids.each do |i| %>
    <%= hidden_field_tag "seller_ids[]", i %>
	<% end %>
	<td><%= submit_tag "Send"%></td>
<% end %>
