<h4><i class="fa fa-edit"></i>Edit Profile</h4>
      
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :id =>'edit-registraion' }) do |f| %>
    
    <%= label_tag "First Name"%>
    <%= f.text_field :first_name, :placeholder => 'First Name', autofocus: true, :class => 'form-control', :name=>'firstname' %>

    <%= label_tag "Last Name"%>
    <%= f.text_field :last_name, :placeholder => 'Last Name', :class => 'form-control', :name => 'lastname' %>

    <%= label_tag "Email"%>
    <%= f.email_field :email,  :placeholder => 'Email', :class => 'form-control', :name => 'email' %>

    <% if Devise.mappings[:user].confirmable? && resource.pending_reconfirmation? %>
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    <% end %>

    <%= label_tag "New Password"%>
    <%= f.password_field :password, :placeholder => 'New Password', autocomplete: "off", :class => 'form-control newpassword', :validates => false %>

    <%= label_tag "Confirm Password"%>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirm New Password', autocomplete: "off", :class => 'form-control' %>

    <%= label_tag "Current Password"%>
    <%= f.password_field :current_password, :placeholder => 'Current Password To Save Changes', autocomplete: "off", :class => 'form-control' %>

    <%= label_tag "Mobile"%>
    <%= f.text_field :mobile,  :placeholder => 'Mobile', :class => 'form-control', :name=>'mobile' %>

    <%= label_tag "Profile Picture"%>
    <%= f.file_field :profile_pic %>

    <%= f.submit "Update", :class => 'btn btn-success' %>
<% end %>
<hr>

<script type="text/javascript">

$(document).ready(function() {
        $('#edit-registraion').validate({
                errorClass: "state-error",
                validClass: "state-success",
                errorElement: "em",
                rules: {
                        "user[email]": {
                            required: true,
                            email: true,
                        },
                        "user[first_name]": {
                            required: true,
                        },
                        "user[last_name]": {
                            required: true,
                        },
                        "user[mobile]": {
                            required: true,
                            minlength:10,
                            maxlength:10,
                            number: true,
                        },
                        "user[current_password]": {
                            required: true,
                        },
                },
                messages:{
                    email:{
                        email: 'Please enter a valid email'
                    },
                    mobile: {
                        minlength: 'Mobile No Should be of 10 digits',
                        maxlength: 'Mobile No Should be of 10 digits'
                    }

                },
                highlight: function(element, errorClass, validClass) {
                        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                },
                unhighlight: function(element, errorClass, validClass) {
                        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                }
        });
});
</script>
