<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <table>
    <tr>
      <!-- <td><%= f.label :first_name %></td> -->
      <td><%= f.text_field :first_name, :placeholder => 'First Name', autofocus: true %></td>
    </tr>
    <tr>
      <!-- <td><%= f.label :last_name %></td> -->
      <td><%= f.text_field :last_name, :placeholder => 'Last Name' %></td>
    </tr>
    <tr>
      <!-- <td><%= f.label :email %></td> -->
      <td><%= f.email_field :email,  :placeholder => 'Email' %></td>
    </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <tr><td>Currently waiting confirmation for: <%= resource.unconfirmed_email %></tr></td>
  <% end %>

    <tr>
      <!-- <td><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></td> -->
      <td><%= f.password_field :password, :placeholder => 'New Password', autocomplete: "off" %></td>
    </tr>

    <tr>
      <!-- <td><%= f.label :password_confirmation %></td> -->
      <td><%= f.password_field :password_confirmation, :placeholder => 'Confirm New Password', autocomplete: "off" %></td>
    </tr>

    <tr>
      <!-- <td><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></tr> -->
      <td><%= f.password_field :current_password, :placeholder => 'Current Password To Save Changes', autocomplete: "off" %></td>
    </tr>

    <tr>
      <!-- <td><%= f.label :mobile %> <i>(so that we can update you when your book sells off)</i></td> -->
      <td><%= f.text_field :mobile,  :placeholder => 'Mobile' %></td>
    </tr>

    <tr><td><%= f.submit "Update" %></td></tr>
  </table>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
