<div class="smart-wrap">
    <div class="smart-forms smart-container wrap-3">
      
      <div class="form-header header-black">
          <h4><i class="fa "></i><center>Sign up</center></h4>
      </div>
      
      <div class="form-body theme-black">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class=>'smart-form'}) do |f| %>

        <div class="section">
          <label for="firstname" class="field prepend-icon">
            <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', :class=>'gui-input', :name=>'firstname' %>
          </label>
        </div><!-- end section -->
        
        <div class="section">
          <label for="lastname" class="field prepend-icon">
              <%= f.text_field :last_name, :placeholder => 'Last Name', :class=>'gui-input',:name=>"lastname" %>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="email" class="field prepend-icon">
            <%= f.email_field :email, :placeholder => 'Email', :class=>'gui-input',:name=>"email" %>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="password" class="field prepend-icon">
            <%= f.password_field :password, :placeholder => 'Password', autocomplete: "off", :class=>'gui-input',:name=>"password" %>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="mobile" class="field prepend-icon">
            <%= f.text_field :mobile, :placeholder => 'Mobile', :class=>'gui-input',:name=>"mobile" %>
          </label>
        </div><!-- end section -->  
          
        <div class="section">
          <label for="email" class="field prepend-icon">
            <%= f.hidden_field :college_id, :value=> cookies[:college_id] %>
          </label>
        </div><!-- end section -->  

        <div class="section">
          <center>
            <%= f.submit "Sign up", :class => 'button btn-black' %> 
          </center>
        </div><!-- end section -->
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>


