<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :validate => true) do |f| %>
  <%= devise_error_messages! %>
  <table>

	<tr>
    <td><%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name' %></td>
  </tr>

  <tr>
    <td><%= f.text_field :last_name, :placeholder => 'Last Name' %></td>
  </tr>

  <tr>
    <td><%= f.email_field :email, :placeholder => 'Email' %></td>
  </tr>

  <tr>
    <td><%= f.password_field :password, :placeholder => 'Password', autocomplete: "off" %></td>
  </tr>

  <tr>
    <td><%= f.text_field :mobile, :placeholder => 'Mobile' %></td>
  </tr>
	
	<tr><td><%= f.hidden_field :college_id, :value=> cookies[:college_id] %></td></tr>

  <tr><td><%= f.submit "Sign up" %></td></tr>
  <table>
<% end %>

<%= render "devise/shared/links" %>
