<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <table>
  	<tr>
  		<td>
  			<%= f.email_field :email, autofocus: true %>
  		</td>
  	</tr>
	<tr>
		<td>
			<%= f.submit "Resend confirmation instructions" %>
		</td>
	</tr>
</table>
<% end %>

<%= render "confirmable/shared/links" %>
