<div id="extra_options">
<%- if Devise.mappings[:user].omniauthable? %>
    <%= link_to image_tag('fblogin.png',:style=>"width:200px"), omniauth_authorize_path(:user, Devise.omniauth_providers[0]), :class => "title" %>
<% end -%>

<%- if Devise.mappings[:user].omniauthable? %>
    <%= link_to image_tag('g+login.png', :style=>"width:210px;
margin:0 0 0 15px; height:50px;"), omniauth_authorize_path(:user, Devise.omniauth_providers[1]), :class => "title" %> 
<% end -%>
</div>
<br>
<br>
<div>
<%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(:user), :class => "link" %><br />
<% end -%>

<%- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(:user), :class => "link"%><br />
<% end -%>

<%- if Devise.mappings[:user].lockable? && Devise.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(:user), :class => "link" %><br />
<% end -%>
</div>
