<h4><%= @book_group.title%></h4>
<p><%= @book_group.author%><p>
<p><%= @book_group.publisher%></p>
<%= image_tag @book_group.image.url %>

<% @details.each do |book, user| %>
<table>
	<tbody><tr>
		<td>Edition</td>
		<th>Price</th>
		<th>Edit</th>
		<th>User</th>
	</tr>
	<tr>
		<td><%= book.edition %></td>
		<td><%= book.price %></td>
		<td><%= link_to "Edit", edit_book_path(book) %> </td>
		<td><%= user.first_name %></td>
		<%= form_tag(request_seller_books_path) do %>
			<td><%= email_field(:seller_email, {:controller=>'books', :action=>'request_seller'}) %></td>
			<td><%= submit_tag "Email"%></td>
		<% end %>
	</tr>
</tbody></table>
<%end%>