<h1>Add a Book</h1>
<%= form_for @book_group do |f| %>
	<p>
		<%= f.label :title%> <br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :author%> <br />
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :publisher%> <br />
		<%= f.text_field :publisher %>
	</p>
	<%= f.fields_for :books do |builder| %>
		<p>
			<%= builder.label :edition%> <br />
			<%= builder.number_field :edition %>
		</p>
		<p>
			<%= builder.label :isbn%> <br />
			<%= builder.text_field :isbn %>
		</p>
	<%end%>
	<p>
		<%= f.button "Submit Book" %> 
	</p>
<% end %>