<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <table>
  	<tr>
  		<td>
  <!-- <div><%= f.label :email %><br /> -->
  			<%= f.email_field :email, autofocus: true %>
  		</td>
  	</tr>

  	<tr>
  		<td>
  			<%= f.submit "Resend unlock instructions" %>
  		</td>
  	</tr>
  </table>
<% end %>

<%= render "devise/shared/links" %>
