<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">x</button>
		    <h2>Feedback</h2>
		</div>

		<div class="modal-body">
			<%= form_for @feedback, :as => :feedback, :url => feedback_path, :html => {:id => "feedback_form", :class => 'form-signin smart-form'} do |f| %>

				<%= f.hidden_field 'page' %>
				<% unless @error_message.blank? %>
					<p class="error">
					  	<%=h @error_message %>
					</p>
				<% end %>

				<div>
				  <p>
				    <%= f.label 'subject' %>
				    <%= f.select 'subject', ['Problem', 'Suggestion', 'Question', 'Other'], {}, {:class => 'form-control'} %>
				  </p>
			  	</div>

			  	<div>
	  			  <p>
				    <%= f.label 'email' %>
				    <%= f.text_field 'email', :class => 'form-control' %>
				  </p>
		        </div>

	        	<div>
    			  <p>
        		    <%= f.label 'comment' %><br />
				    <%= f.text_area 'comment', :rows => 10, :cols => 30, :class => 'form-control' %>
				  </p>
				</div>
		      	
		      	<div>
			      	<%= f.submit 'Send', :class =>'btn btn-lg btn-primary' %>
			    </div>
		  <% end %>
		 </div>
	</div>
</div>