<div id="add_college">
	<%= form_tag('/application/select_college', method: "get") do %>
		<div class="col-select">
			<%= select_tag "college_id", options_from_collection_for_select(College.all, "id", "name", :class => 'college-list') %>
			<i style="float:right; background:grey;" class="double-arrow"></i>
		</div>
		<center><%= submit_tag "Go >>", :class => 'go' %></center>
		
	<%end%>
	<p id="college_entry" style="text-align:center">
		<%= link_to_function "Not in the list?", 'request_admin()' %>
	</p>
</div>
<div id="request_admin" style="display:none; text-align: center">
	<%= form_tag(:controller=>'/colleges', :action=>'request_admin_to_add_college') do %>
	<center>
		<table class="college-select">
			<tr><td><%= text_field_tag :college_name, '',:placeholder => "Enter your college" %></td></tr>
			<tr><td><%= email_field_tag :email,'', :placeholder => "Enter your email id" %></td></tr>
			<tr><td><%= submit_tag "Send", :class => 'send' %></td></tr>
		</table>
	</center>
	<% end %>
</div>

<div id="vendor_entry">
	<%= link_to "City vendor", city_vendor_login_path, type: "city_vendor"%>
</div>

<script type="text/javascript">
	function request_admin(){
		document.getElementById("request_admin").style.display = "block";
	}
</script>
