<div class="smart-wrap">
    <div class="smart-forms smart-container wrap-3">
      
      <div class="form-header header-black">
          <h4><center><i class="fa fa-user"></i>Sign up</center></h4>
      </div>
      
      <div class="form-body theme-black">

      <%= form_for(User.new, url: registration_path(:user), :html => {:class=>'smart-form'}) do |f| %>

        <div class="section">
          <label for="firstname" class="field prepend-icon">
            <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', :class=>'gui-input' %>
          </label>
        </div><!-- end section -->
        
        <div class="section">
          <label for="lastname" class="field prepend-icon">
              <%= f.text_field :last_name, :placeholder => 'Last Name', :class=>'gui-input' %>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="email" class="field prepend-icon">
            <%= f.email_field :email, :placeholder => 'Email', :class=>'gui-input' %>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="password" class="field prepend-icon">
            <%= f.password_field :password, :placeholder => 'Password', autocomplete: "off", :class=>'gui-input'%>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label for="mobile" class="field prepend-icon">
            <%= f.text_field :mobile, :placeholder => 'Mobile', :class=>'gui-input' %>
          </label>
        </div><!-- end section -->  
          
        <div>
          <label for="email" class="field prepend-icon">
            <%= f.hidden_field :college_id, :value=> cookies[:college_id] %>
          </label>
        </div><!-- end section -->

        <div>
            <%= f.file_field :profile_pic %>
        </div><!-- end section -->  

        <div class="section">
          <center>
            <%= f.submit "Sign up", :class => 'button btn-black' %> 
          </center>
        </div><!-- end section -->
      <% end %>

      <%= render "devise/shared/links_signup" %>

    </div>
  </div>
</div>


