<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h2><i class="fa fa-user"></i>Sign up</center></h2>
    </div>

    <div class="modal-body">
      <%= form_for(User.new, url: registration_path(:user), :html => {:class=>'form-signin', :role => 'form'}) do |f| %>

          <div>
            <%= f.text_field :first_name, autofocus: true, :placeholder => 'First Name', :class=>'form-control' %>
          </div>

          <div>
              <%= f.text_field :last_name, :placeholder => 'Last Name', :class=>'form-control' %>
          </div>

          <div>
              <%= f.email_field :email, :placeholder => 'Email', :class=>'form-control' %>
          </div>

          <div>
              <%= f.password_field :password, :placeholder => 'Password', autocomplete: "off", :class=>'form-control'%>
          </div>

          <div>
              <%= f.text_field :mobile, :placeholder => 'Mobile', :class=>'form-control' %>
          </div>

          <div>
              <%= f.hidden_field :college_id, :value=> cookies[:college_id] %>
          </div>

          <div>
              <%= f.file_field :profile_pic %>
          </div>

          <div>
              <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary' %> 
          </div>
      <% end %>
     </div>

    <div class="modal-footer"> 
      <center><%= render "devise/shared/links_signup" %></center>
    </div>
  </div>
</div>