<div id="page" class="container center-block">
    <h1 style="text-align: center;">Sell Your Book</h1>
    <br />
    <br />
    <br />
    <div class='step' style='width:3%'>&nbsp;</div>
    <div class="step" style="width:30%;" id="step1_progress">
        <div class="step-text">Enter Book Details</div>
        <div class="step-bar"></div>
        <div class="step-circle">1</div>
    </div>
    <div class="step" style="width:30%;" id="step2_progress">
        <div class="step-text">Decide the price</div>
        <div class="step-bar"></div>
        <div class="step-circle">2</div>
    </div>
    <div class="step" style="width:30%;" id="step3_progress">
        <div class="step-text">Choose Your Coupons</div>
        <div class="step-bar"></div>
        <div class="step-circle">3</div>
    </div>
    <div class="step" style="width:5%;">
        <div class="step-circle">4</div>
    </div>
    <%= form_for book_group,:html=> {:class => 'smart-form', :multipart => true, :id => "sell_form", :remote => true } do |f| %>
        <%= f.fields_for :books do |builder| %>
            <div>
                <div class='panel' id='step1' style='margin-top: 100px; padding-top:40px;padding-bottom:40px;'>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-md-4 col-md-offset-1'>
                                <%= f.text_field :title, :placeholder => "Title of the Book", id: 'sell_title', :class => 'form-control' %>

                                <br />
                                <%= f.text_field :author, :placeholder => "Author", id: 'sell_author', :class => 'form-control', :presence => false %>
                                <br />
                                <%= f.text_field :publisher, :placeholder => "Publisher", id: 'sell_publisher', :class => 'form-control' %>
                                <br />
                                <%= f.collection_select :category_id, Category.all, :id, :name,{}, {:class => "form-control"}%>
                                <br />
                                <button type="button" class='btn btn-success' style='float:right;' onclick="next_step(1)">Proceed >></button>
                            </div>
                            <div class='col-md-2'>
                                <h2 style='text-align:center;margin-top:60px;'>- OR -</h2>
                            </div>
                            <div class='col-md-4'>
                                <br />
                                <br />
                                <br />
                                <%= builder.text_field :isbn, :placeholder => "Enter ISBN", :class => 'form-control'%>
                                <br />
                                <button type="button" class='btn btn-success' style='float:right;' onclick="isbn_autfill_submit()">Fetch Info!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel' id='step2' style='margin-top: 100px; padding-top:40px;padding-bottom:40px; display:none;'>
                        <div class='panel-body'>
                            <div class='row'>
                                <div class='col-md-4 col-md-offset-1'>
                                    <h4 class='info'>This book has 45.50% probability of being sold if you sell it at the recommended price.</h4>
                                </div>
                                <div class='col-md-2'>
                                </div>
                                <div class='col-md-4'>
                                    <p class='info'>TheCollegeStore recommended price: <b><i class='fa fa-inr'></i><span class='number'>250</span></b></p>
                                    <br />
                                    <div class='row'>
                                        <div class='col-md-4' style='text-align: right;'>
                                            <h4>Your Price:</h4>
                                        </div>
                                        <div class='col-md-4'>
                                            <%= builder.text_field :price, :placeholder => "Price", :class => 'form-control', :id => "entered_price"%>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-4' style='text-align: right;'>
                                            <h4>Edition:</h4>
                                        </div>
                                        <div class='col-md-4'>
                                            <%= builder.text_field :edition, :placeholder => "Edition", :class => 'form-control'%>
                                        </div>
                                    </div>
                                    <div class ='row' style="margin-top:30px;">
                                        <button type="button" class="btn btn-danger" onclick="back_step(2)">Back </button>
                                        <button type="button" class='btn btn-success pull-right' onclick="get_incentive_for_new_book()">Proceed >></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
                <div class="panel" style='margin-top: 100px;' id='coup-layout'>
                <!-- bingo -->
                <!-- make sure that the div is hidden except on step3-->
                    <div class="panel-heading">
                    <h3>Selected Coupons</h3>
                    </div>
                    <div class="panel-body" id='coup-list'>
                    <!-- add coupons here-->
                    </div>
                </div>
                <div class='panel' id='step3' style='padding-top:0px;padding-bottom:40px; display:none;'>
                    <div class='panel-body'>
                        <p>
                            <h5 class='alert alert-info col-md-6'><i class="fa fa-info-circle"></i> TheCollegeStore offers you the following coupons! Pick yours!</h5>
                        </p>
                        <div id="coupons_for_new_books" class="row">
                            </div>
                        <br />
                        <br />
                        <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-4">
                            
                                <button type="button" class="btn btn-danger" onclick="back_step(3)">Back </button>
                        </div>
                            <div class="col-md-4 col-md-offset-4">
                                <%= f.button "Proceed >>", :class => 'btn btn-success pull-right' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel' id='step4' style='margin-top: 100px; padding-top:40px;padding-bottom:40px;  display:none;'>
                    <div class='panel-body'>
                        <div class='row' id="confirm_addition">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-md-offset-4">
                            <div class="col-md-4">
                            <%= link_to "Sell Another Book", "/book_groups/new" ,:class => 'btn btn-info'%>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <%= link_to "Done!", root_path ,:class => 'btn btn-success'%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
    <% end %>
</div>


<script type="text/javascript">
  layout = document.getElementById('coup-layout');
  layout.style.display = "none";
</script>

<script type="text/javascript">
    function next_step(step){
        var current_step = document.getElementById("step"+ step.toString());
        current_step.style.display = "none";
        var progress_bar = document.getElementById("step"+ step.toString()+ "_progress");
        progress_bar.className += " complete"
        current_step.className += " complete"
        var next_step = document.getElementById("step" + (step + 1).toString());
        next_step.style.display = "block";
        if (step == 2) {
            layout = document.getElementById('coup-layout');
            layout.style.display = "block";
            list = document.getElementById('coup-list');
            list.innerHTML = '<%= escape_javascript(render :partial => "coupons/coupons" )%>'
        } else {
            layout = document.getElementById('coup-layout');
            layout.style.display = "none";
        }
    }

    function back_step(step){
        var current_step = document.getElementById("step"+ step.toString());
        current_step.style.display = "none";
        var progress_bar = document.getElementById("step"+ (step - 1).toString()+ "_progress");
        progress_bar.className = "step"
        var back_step = document.getElementById("step" + (step - 1).toString());
        back_step.style.display = "block";
        if (step == 2) {
            layout = document.getElementById('coup-layout');
            layout.style.display = "block";
            list = document.getElementById('coup-list');
            list.innerHTML = '<%= escape_javascript(render :partial => "coupons/coupons" )%>'
        } else {
            layout = document.getElementById('coup-layout');
            layout.style.display = "none";
        }
    }
    function get_incentive_for_new_book(){
        entered_price = document.getElementById("entered_price").value;
        post('/incentive_for_new_book', {price: entered_price}, "post");
        next_step(2);
    }
</script>
