<!--page wrapper-->
<style type="text/css">
    .book-bg
    {
        background-image: url('<%= image_path("books.jpg") %>');
        background-size: cover;
    }
    .site-heading
    {
        font-size: 72px;
        color:#eee;
        font-family: "Open Sans";
        text-shadow:0px 0px 5px #333;
    }
    .clg-form label
    {
        height: 34px;
        line-height: 34px;
    }
    .list-group-item-text
    {
        height: 50px;
        text-overflow: ellipsis;
    }
    .navbar
    {
        margin-bottom:0px;
    }
    .fix-height
    {
        min-height:180px;
    }
</style>
<div class="book-bg">
<div class="container center-block">
<center><h1 class="site-heading" style="margin:60px;">TheCollegeStore</h1></center>
    <div class="row">
        <div class="col-md-6 ">
        <div class="panel fix-height">
            <div class="panel-heading">
                <h3>Select Your College</h3>
            </div>
            <div class="panel-body">
            <%= form_tag('/application/select_college', method: "get", :class => "clg-form") do %>
                <div class="row">
                    <div class="col-md-1">
                        <label>City</label>
                    </div>
                    <div class="col-md-4">
                        <%= select_tag "city", options_for_select(College.all.map(&:city).uniq), :class => "form-control", :id => "city-select", :onchange => "myFunction()" %>
                    </div>
                    <div class="col-md-2">
                        <label>College</label>
                    </div>
                    <div class="col-md-3">
                        <%= select_tag "college_id", options_from_collection_for_select(College.all, "id", "name"), :class => "form-control", :id => "college-select" %>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-block btn-primary">Go!</button>
                    </div>
                </div>
                <div class="row">
                    <span class="col-lg-8 col-md-8 hidden-sm">College not listed? 
                        <a href="#" onclick="$('#request').modal('show');">Not in the list?</a>
                    </span>
                </div>                
            <%end%>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="panel fix-height">
            <div class="panel-body ">
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            </p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<div class="container center-block" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
            <div class="panel-heading"><h3>Latest Books on <b>TheCollegeStore</b></h3></div>
            <div class="panel-body">
                <div class="row">
                    <!-- Latest Book Tiles here -->
                </div>
            </div>
            <div class="panel-footer" style="text-align:right;">
                <a href="#">See More...</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
            <div class="panel-heading">
                <h3>Blog @ <b>TheCollegeStore</b></h3>
            </div>
            <div class="panel-body" id="blog-posts">
                <!-- Blog Posts here -->
                <center><h4>Loading...</h4></center>
            </div>
            <div class="panel-footer" style="text-align:right;">
            <a href="http://blog.thecollegestore.in">Read More...</a>
            </div>
            </div>
        </div>
    </div>
</div>
<%= render :partial => "shared/request_form" %>
<!--page wrapper-->

<script type="text/javascript">
    $( document ).ready(function() {
        myFunction();
        readBlogPostFeed();
    });
    function readBlogPostFeed()
    {
        $.get('http://localhost/laravelshots/?feed=rss2', function (data) {
            var element = "<div class='list-group'>";
            $(data).find("item").each(function () {
                var item = $(this);
                element += '<a href='+ item.link +' class="list-group-item">';
                element += '<h4 class="list-group-item-heading">'+ item.title +'</h4>';
                element += '<p class="list-group-item-text">'+ item.description +'</p>';
                element += '</a>';
            });
            element += '</div>';
            $("#blog-posts").html(element);
        });
    }
    function myFunction() {
        var x = document.getElementById("city-select").value;
        var colleges = <%= raw College.all.map(&:name).to_json %>;
        var cities = <%= raw College.all.map(&:city).to_json %>;
        var ids = <%= raw College.all.map(&:id).to_json %>;
        var col = $("#college-select");
        col.empty();
        for (var j = 0; j < colleges.length; j++){         
            if (cities[j] == x)
                $("#college-select").append("<option value='" +ids[j]+ "'>" +colleges[j]+ "</option>");  
        }
    };
</script>
<style>
.eheight
{
    height: 120px;
    padding: 30px;
    background-color: #eee;
    border-radius: 10px;
}
</style>
<footer style="margin-bottom:-30px;padding:50px;vertical-align:middle;background-position:right bottom;" class="row book-bg">
<div class="col-md-4 eheight">
<%= image_tag("google-startup-launch.png", height: "60px") %>
</div>
<div class="col-md-3 col-md-offset-1 eheight">
<%= image_tag("sparkup-idea-fund.png" , height: "70px") %>
</div>
<div class="col-md-3 col-md-offset-1 eheight">
<%= image_tag("makeathon.png" , height: "80px") %>
</div>
</footer>