<div>

<table>
	<tbody><tr>
		<th>Name of the book</th>
		<th>Author</th>		
		<th>Publisher</th>
		<th>Edition</th>
		<th>Edit</th>
	</tr>
	<% $books.each do |book| %>
	<tr>
		<td><%=book.title%></td>
		<td><%=book.author%></td>		
		<td><%=book.publisher%></td>
		<td><%=book.edition%></td>
		<td><%= link_to "Edit", edit_book_path(book) %> </td>
		<%= form_tag(:action=>'request_seller') do %>
			<td><%= email_field(:seller_email, {:controller=>'books', :action=>'request_seller'}) %></td>
			<td><%= submit_tag "Email"%></td>
		<% end %>
	</tr>
	<% end %>
	
	<p><%= link_to "Sell", '/books/new' %></p>
</tbody></table>
</div>

