<head>

  <%= stylesheet_link_tag   "grid_layout", "font-awesome.css", "main_layout", "main_responsive", "search-bar", "file", "component","default", "application" %>

</head>

<body>


<div class="container_4">


    <div class="innertitle">

        <p>Popular In Your College</p>
    </div>




<!-- <div class="grid_1 suffix_3" style="float:left;"> -->
    <div class="no-touch">

      <ul class="grid cs-style-3">

        <li class="divfloat">
          <figure>
            <div class="img-book">
              <%= image_tag ('temp.jpg')%>
            </div>

            <figcaption>
            <table class="book-grid">
                <tr>
                  <td class="book-name1" style="font-size:2.0em;">
                    Introduction to Algorithms
                  </td>
                </tr>
                <tr>
                  <td class="book-price">
                    <center>
                      <i class="fa fa-rupee fa-4x fa-color_white" style="font-size:1.0em"></i>
                      Rs 265
                    </center>
                  </td>
                </tr>
                <tr class="link-style">
                  <td>
                    <center>
                      <a href="http://google.com">Details</a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>
                    5 Sellers
                  </td>
                </tr>
                <tr>
                  <td>
                    7 Reviews
                  </td>
                </tr>
              </table>
            </figcaption>
          </figure>
        </li>

        </ul>
    </div>
  <!-- </div> -->
</div>
</body>
==========================================

<div>

<table>
	<tbody><tr>
		<th>Name of the book</th>
		<th>Author</th>		
		<th>Publisher</th>
		<th>Stock</th>
		<th>Details</th>
	</tr>
	<% @book_groups.each do |book| %>
	<tr>
		<td><%=book.title%></td>
		<td><%=book.author%></td>		
		<td><%=book.publisher%></td>
		<td><%=book.stock%></td>
		<td><%= link_to "details", book_detail_path(book) %> </td>
	</tr>
	<% end %>
	
	<p><%= link_to "Sell", '/book_groups/new' %></p>
</tbody></table>
</div>

=========================================