<head>

  <%= stylesheet_link_tag   "grid_layout", "font-awesome.css", "main_layout", "main_responsive", "search-bar", "file", "component","default", "application" %>

</head>

<body>


<div class="container_4">


    <div class="innertitle">

        <p>Popular In Your College</p>
    </div>




<!-- <div class="grid_1 suffix_3" style="float:left;"> -->
    <div>

      <ul class="global-grid cs-style-3">

        <li class="divfloat grid-li">
          <figure >
            <div class="img-book">
              <%= image_tag ('temp.jpg')%>
             <div class="book-name"><a href="book_groups/details/1" style="color:white;">Introduction to Algorithms</a> </div>
            </div>


            <figcaption >
            <div class="book-name1" style="font-size:2.0em;">
              Introduction to Algorithms
            </div>

            <div> 

              <div class="author-name">
                <span>H.Cormen</span>
               </div>
              
              <div class="link-style">
                <a href="http://google.com">Details</a>
              </div>
              
            </div>


            <div class="book-price">
               <!-- sign for rupee -->
               <i class="fa fa-rupee fa-4x fa-color_white" style="font-size:1.0em"></i>
               265
            </div>
              
            </figcaption>
          </figure>
        </li>

      <li class="divfloat grid-li">
          <figure class="div-figure">
            <div class="img-book">
              <%= image_tag ('temp.jpg')%>
             <div class="book-name"><a href="book_groups/details/1" style="color:white;">Introduction to Algorithms</a> </div>
            </div>


            <figcaption class="div-figcaption" >


            <div class="book-name1" style="font-size:2.0em;">
              Introduction to Algorithms
            </div>

            <div> 

              <div class="author-name">
                <span>H.Cormen</span>
               </div>
              
              <div class="link-style">
                <a href="http://google.com">Details</a>
              </div>
              
            </div>


            <div class="book-price">
               <!-- sign for rupee -->
               <i class="fa fa-rupee fa-4x fa-color_white" style="font-size:1.0em"></i>
               265
            </div>
              
            </figcaption>
          </figure>
        </li>

        <li class="divfloat grid-li">
          <figure >
            <div class="img-book">
              <%= image_tag ('temp.jpg')%>
            <div class="book-name"><a href="book_groups/details/1" style="color:white;">Introduction to Algorithms</a> </div>
            </div>


            <figcaption >


            <div class="book-name1" style="font-size:2.0em;">
            <div class="book-name"><a href="book_groups/details/1" style="color:white;">Introduction to Algorithms</a> </div>
            </div>

            <div> 

              <div class="author-name">
                <span>H.Cormen</span>
               </div>
              
              <div class="link-style">
                <a href="http://google.com">Details</a>
              </div>
              
            </div>


            <div class="book-price">
               <!-- sign for rupee -->
               <i class="fa fa-rupee fa-4x fa-color_white" style="font-size:1.0em"></i>
               265
            </div>
              
            </figcaption>
          </figure>
        </li>

        <li class="divfloat grid-li">
          <figure >
            <div class="img-book">
              <%= image_tag ('temp.jpg')%>
              <div class="book-name"><a href="book_groups/details/1" style="color:white;">Introduction to Algorithms</a> </div>
              
            </div>


            <figcaption >


            <div class="book-name1" style="font-size:2.0em;">
              Introduction to Algorithms
            </div>

            <div> 

              <div class="author-name">
                <span>H.Cormen</span>
               </div>
              
              <div class="link-style">
                <a href="http://google.com">Details</a>
              </div>
              
            </div>


            <div class="book-price">
               <!-- sign for rupee -->
               <i class="fa fa-rupee fa-4x fa-color_white" style="font-size:1.0em"></i>
               265
            </div>
              
            </figcaption>
          </figure>
        </li>

        </ul>
    </div>
  <!-- </div> -->
</div>
</body>
==========================================

<div>

<table>
	<tbody><tr>
		<th>Name of the book</th>
		<th>Author</th>		
		<th>Publisher</th>
		<th>Stock</th>
		<th>Details</th>
	</tr>
	<% @book_groups.each do |book| %>
	<tr>
		<td><%=book.title%></td>
		<td><%=book.author%></td>		
		<td><%=book.publisher%></td>
		<td><%=book.stock%></td>
		<td><%= link_to "details", book_detail_path(book) %> </td>
	</tr>
	<% end %>
	
	<p><%= link_to "Sell", '/book_groups/new' %></p>
</tbody></table>
</div>

=========================================