<% title "Our Team" %>

<div class="wrapper_circle">

  <div class="container_circle">
    
     <div class="innertitle latest-title">
        <p><h2><i class="fa fa-user fa-padding"></i>Our Team</h2></p>
    </div>
      
          
      <section class="main_circle">
        
        <center><h2><u>Planning and Operations</u></h2></center>      
        
        
          <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Shubhanshu Gupta</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/shubhanshu.gupta.982"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/+ShubhanshuGupta93"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>Vaibhavi Desai</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/vaibhavid1"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/u/0/+VaibhaviHDesai/about"><%=image_tag ("Google.png"), :class => "icon_img2"%></a> -->
                </div>
              </div>
            </div>
          </li>
        </ul>
      

        <center><h2><u>Technical</u></h2></center>    
        <ul class="ch-grid">
            <li>
            <div class="ch-item ch-img-5">
              <div class="ch-info">
                <h3>Shantanu Jain</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/shantanu1227"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/101657535894686685576/"><%=image_tag ("Google.png"), :class => "icon_img2"%></a> -->
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>Shubham Patel</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/108shubhpatel"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/+ShubhamPatel108/"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <center><h2><u>Sales And Marketing</u></h2></center>      
        <ul class="ch-grid" style="margin-left:34% !important;">
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info">
                <h3>Rishu Jain</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/rrishujain"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/u/0/+RrishuJain/"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>



        </ul>
        
      </section>
      
        </div>
</div>
