<%
meta site: "TheCollegeStore",
     keywords: ["Contact us", "Email", "phone", "Address"]
%>

<% title "Contact Us" %>

<div id="page" class="container center-block">
<center><h1>Contact Us</h1></center>
<div class="row">
    <div class="col-md-8">
    <div class="panel">
        <div class="panel-body">
                    <%= form_tag "/send", :class => "smart-form" do%>

                        <div class="section">
                            <label for="name" class="field prepend-icon">
                                <%= text_field_tag('Name', '',size: 35, :class =>'form-control', :name=>'name', :placeholder=>'Name') %> 
                            </label>
                        </div><!-- end section -->      

                        <div class="section">
                            <label for="email" class="field prepend-icon">
                            <%= email_field_tag('Email', '',size: 35, :class=>'form-control', :name => 'email', :placeholder=>'Email') %> 
                        </label>
                        </div><!-- end section -->      

                        <div class="section">
                            <label for="message" class="field prepend-icon">
                                <%= text_area_tag('Message', nil, rows: 10, cols: 50, :class=>'form-control', :name=>'message', :placeholder=>'Message') %> 
                            </label>
                        </div><!-- end section -->      

                        <div class="section">
                                <%= button_tag "Submit", :class => "btn btn-success"%>
                        </div><!-- end section -->      
                    <% end %>
                                </div>
            </div>
                </div>
                <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <h4><b><i class="fa fa-envelope"></i> Write to us</b></h4>
                                <hr />
                                <p>
                                    <b>Shubhanshu Gupta</b>
                                </p>
                                <p>
                                    <address>
                                    B-214, DAIICT, 
                                    Gandhinagar, 
                                    Gujarat
                                    <a href="mailto:shubhanshu.gupta93@gmail.com">shubhanshu.gupta93@gmail.com</a>
                                    <p class="number">
                                    +917359473626
                                    </p>
                                    </address>
                                </p>
                                <hr />
                                <p>
                                    <b>Vaibhavi Desai</b>
                                </p>
                                <p>
                                    <address>
                                    K-311, DAIICT, 
                                    Gandhinagar, 
                                    Gujarat
                                    <a href="mailto:rani.vhd@gmail.com">rani.vhd@gmail.com</a>
                                    <br />
                                    <p class="number">
                                    +917698876900
                                    </p>
                                    </address>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <h4><b><i class="fa fa-map-marker"></i> Corporate Address</b></h4>
                                <addr>
                                    1 Hacker Way <br />Menlo Park, CA 94025
                                </addr>
                            </div>
                        </div>
                    </div>
                </div>
                -->
        </div>
    </div>
</div>

		<script
		src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
		</script>

		<script>
		var myCenter=new google.maps.LatLng(23.187202, 72.626770);

		function initialize()
		{
		var mapProp = {
		  center:myCenter,
		  zoom:16,
		  mapTypeId:google.maps.MapTypeId.ROADMAP
		  };

		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

		var marker=new google.maps.Marker({
		  position:myCenter,
		  });

		marker.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		</script>


<script type="text/javascript">
    
    
        $(function() {
        

                $( "#form" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: false,
                    numberOfMonths: 1,
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onClose: function( selectedDate ) {
                        $( "#checkout" ).datepicker( "option", "minDate", selectedDate );
                    }
                });
                /* @custom validation method (smartCaptcha) 
                ------------------------------------------------------------------ */
                    
                // $.validator.methods.smartCaptcha = function(value, element, param) {
                //      return value == param;
                // };
                        
                $( "#form" ).validate({
                
                        /* @validation states + elements 
                        ------------------------------------------- */
                        
                        errorClass: "state-error1",
                        validClass: "state-success1",
                        errorElement: "em1",
                        
                        /* @validation rules 
                        ------------------------------------------ */
                            
                        rules: {
                                name: {
                                        required: true
                                },
                                email: {
                                        required: true,
                                        email: true
                                },                  
                                message: {
                                        required: true
                                }
                                
                        },
                        
                        /* @validation error messages 
                        ---------------------------------------------- */
                            
                        messages:{
                                name: {
                                        required: 'Enter Name'
                                },
                                email: {
                                        required: 'Enter Email',
                                        email: 'Enter a Valid Email'
                                },                  
                                message: {
                                        required: 'Enter Message'
                                }
                                 
                        },

                        /* @validation highlighting + error placement  
                        ---------------------------------------------------- */ 
                        
                        highlight: function(element, errorClass, validClass) {
                                $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                        },
                        unhighlight: function(element, errorClass, validClass) {
                                $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                        },
                        errorPlacement: function(error, element) {
                           if (element.is(":radio") || element.is(":checkbox")) {
                                    element.closest('.option-group').after(error);
                           } else {
                                    error.insertAfter(element.parent());
                           }
                        }
                                
                });     
        
        });             
    
    
</script>
