<%= form_tag "/send", id: 'form' do%>

<fieldset>

	<div>
	 <%= label_tag 'Name' do%>
	    Name<span class="required">*</span>
	 <% end %>
	 <%= text_field_tag('Name', '',size: 35) %> 
	</div>

	<div>
	 <%= label_tag 'Email' do%>
	    Email<span class="required">*</span>
	 <% end %>
	 <%= email_field_tag('Email', '',size: 35) %> 
	</div>
	
	<div>
	 <%= label_tag 'Message' do%>
	    Message<span class="required">*</span>
	 <% end %>
	 <%= text_area_tag('Message', nil, rows: 10, cols: 50) %> 
	</div>

	<div>
	 <%= button_tag "Submit", :class => "submit"%>
	</div>

</fieldset>
<% end %>

<div id="googleMap" style="width:500px;height:380px;"></div>


<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
var myCenter=new google.maps.LatLng(23.187202, 72.626770);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:16,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>