<%
meta site: "TheCollegeStore",
     keywords: ["team", "founder", "developer"]
%>
<% title "Our Team" %>
<style type="text/css">
  .thumbnail
  {
    height: 320px !important;
  }
</style>
<div class="container" id="page">
<center><h1>Our Team</h1></center>
<div class="row">
<div class="col-md-2 col-md-offset-1">
  <div class="thumbnail">
  <%=image_tag ('Team/shubhanshu-mini.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shubhanshu Gupta</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://github.com/shubhanshu-gupta">
      <i class="fa fa-github-square"></i></a>
      <a href="https://plus.google.com/+ShubhanshuGupta93">
      <i class="fa fa-google-plus-square "></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="thumbnail">
    <%=image_tag ('Team/vaibhavi-mini.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Vaibhavi Desai</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://github.com/desaivaibhavi">
      <i class="fa fa-github-square"></i></a>
      <a href="https://plus.google.com/u/0/+VaibhaviHDesai/about">
      <i class="fa fa-google-plus-square"></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="thumbnail">
    <%=image_tag ('Team/shantanu-mini.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shantanu Jain</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://github.com/shantanu1227">
      <i class="fa fa-github-square "></i></a>
      <a href="https://plus.google.com/101657535894686685576/">
      <i class="fa fa-google-plus-square "></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="thumbnail">
    <%=image_tag ('Team/shubham-mini.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shubham Patel</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://plus.google.com/+ShubhamPatel108/">
      <i class="fa fa-google-plus-square "></i></a>
      <a href="https://github.com/shubhpatel108">
      <i class="fa fa-github-square "></i></a>
      </h4>
    </div>
  </div>
</div>      
<div class="col-md-2">
  <div class="thumbnail">
    <%=image_tag ('Team/manan-mini.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Manan Jadhav</h4>
      <p>SVIT Vasad</p>
      <h4 class="center teamMemberLinks">
      <a href="https://plus.google.com/+MananJadhav9">
      <i class="fa fa-google-plus-square "></i></a>
      <a href="https://github.com/CurosMJ">
      <i class="fa fa-github-square "></i></a>
      </h4>
    </div>
</div>
</div>
</div>
</div>