
<div class="wrapper_circle">

  <div class="container_circle">
    
      <div class="circle_heading">
          Our Team
      </div>
      
          
      <section class="main_circle">
      
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Jayant Pareek</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="#"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="#"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>Valay Vaidya</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="#"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="#"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>Shubham Patel</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="#"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="#"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info">
                <h3>Shubham Patel</h3>
                <p>DA-IICT </p>
                <div class="icons-in"> 
                <a href="https://www.facebook.com/PrashantVithani"><%=image_tag ("Facebook.png"), :class => "icon_img1"%></a>
                <a href="https://plus.google.com/u/0/+PrashantVithani"><%=image_tag ("Google.png"), :class => "icon_img2"%></a>
                </div>
              </div>
            </div>
          </li>

        </ul>
        
      </section>
      
        </div>
</div>
