<%
meta site: "TheCollegeStore",
     keywords: ["team", "founder", "developer"]
%>

<% title "Our Team" %>
<div class="container" id="page">
<h1>Our Team</h1>
<div class="row">
<div class="col-md-3">
  <div class="thumbnail">
  <%=image_tag ('Team/shubhanshu-team.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shubhanshu Gupta</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://www.facebook.com/shubhanshu.gupta.982">
      <i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://plus.google.com/+ShubhanshuGupta93">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail">
    <%=image_tag ('Team/vaibhavi-team.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Vaibhavi Desai</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://www.facebook.com/vaibhavid1">
      <i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://plus.google.com/u/0/+VaibhaviHDesai/about">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail">
    <%=image_tag ('Team/shantanu-team-new.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shantanu Jain</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://www.facebook.com/shantanu1227">
      <i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://plus.google.com/101657535894686685576/">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
      </h4>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail">
    <%=image_tag ('Team/shubham.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Shubham Patel</h4>
      <p>DA-IICT</p>
      <h4 class="center teamMemberLinks">
      <a href="https://www.facebook.com/108shubhpatel">
      <i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://plus.google.com/+ShubhamPatel108/">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
      <a href="https://github.com/shubhpatel108">
      <i class="fa fa-github-square fa-2x"></i></a>
      </h4>
    </div>
  </div>
</div>      
</div>
<div class="row">
<div class="col-md-3">
  <div class="thumbnail">
    <%=image_tag ('Team/manan-team.jpg'), :class => "teamMemberLinks"%>
    <div class="caption">
      <h4>Manan Jadhav</h4>
      <p>SVIT Vasad</p>
      <h4 class="center teamMemberLinks">
      <a href="https://www.facebook.com/jadhavmanan">
      <i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://plus.google.com/+MananJadhav9">
      <i class="fa fa-google-plus-square fa-2x"></i></a>
      <a href="https://github.com/CurosMJ">
      <i class="fa fa-github-square fa-2x"></i></a>
      </h4>
    </div>
</div>
</div>
</div>
</div>