<!DOCTYPE html>
<html>
<head>
  <title>TheCollegeStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery", "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<% if user_signed_in? %>
  		<div>
			<span>Welcome, <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path %></span>
			<%= link_to "Log out", destroy_user_session_path, method: :delete %>
		</div>
	<%else%>
		<div>
		<%= link_to "Register", new_user_registration_path%>
		<%= link_to "Log In", new_user_session_path%>
		</div>
	<%end%>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render :partial => 'shared/search' %>
<%= yield %>

</body>
</html>
