<!DOCTYPE html>
<html>
<head>
  <title>TheCollegeStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.4.custom.css"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails.validations", "jquery-ui-1.10.4.custom.min.js", 'autocomplete-rails.js', 'rails.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<% if user_signed_in? %>
  		<div>
			<span>Welcome, <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path %></span>
			<%= link_to "Log out", destroy_user_session_path, method: :delete %>
		</div>
	<%else%>
		<div>
		<%= link_to "Register", new_user_registration_path%>
		<%= link_to "Log In", new_user_session_path%>
		</div>
	<%end%>
	<%= cookies[:college_name] %>
</header>
<div id ="notices">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
<%= render :partial => 'shared/search', :locals => {:book_names => $book_names} %>
<%= yield %>

</body>
</html>
