<!DOCTYPE html>

<html class="no-js" lang="en"><!--<![endif]-->
<head>
  <%= metamagic %>
  <meta property="og:title" content="TheCollegeStore" />
  <meta property="og:site_name" content="TheCollegeStore"/>
  <meta property="og:url" content="http://www.thecollegestore.in/" />
  <meta property="og:image" content="facebook_share.png" />
  <meta property="og:description" content="A College oriented online platform to buy and sell Used Books" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" type="image/png" href='/assets/logo.png' sizes="32x32">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,700' rel='stylesheet' type='text/css'>

  <title>TheCollegeStore<%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application.css" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "main_layout_js.js" %>

  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" %>
 <%= javascript_include_tag "additional-methods.js" %>

  <!-- POpup -->

  <%= javascript_include_tag "jquery.popup.min.js" %>
  <%= javascript_include_tag "cool-popup.js" %>
  <%= javascript_include_tag "back-to-top.js"%>

  <%= javascript_include_tag "jquery.sidr.min.js"%>


</head>

<body id="library top" class="gecko new-gecko">
  <%= render :partial => '/shared/header' %>
  <!-- <div class="header-fixed">
    <div id="content-wrap">
                
                <nav>
                  <ul class="nav-ul">
                    <span class="right-user">
                    <% if user_signed_in? %>
                    <li class="nav-li"><a href="/book_groups/new" class="button button-primary">Sell<i class="fa fa-plus-square fa-padding"></i></a></li>

                    <li class="nav-li"><a href="#"><%= image_tag current_user.profile_pic.url, :size => "30x30" %></a></li>

                    <li class="nav-li">
                      <span style="display: -webkit-inline-box;display: -moz-inline-stackb;font-size: 17px;"><%= link_to "#{current_user.first_name}", "/profiles/#{current_user.first_name}-#{current_user.last_name}/#{current_user.id}", :class => 'username-header' %></span>
                    </li>
                    <%end%>
                    <% if !user_signed_in? %>
                    <li class="nav-li">     
                      <a href="#cool-popup" class="animated_popup">Login<i class="fa fa-sign-in fa-padding"></i></a>
                    </li>
                    <li class="nav-li">
                      <a href="#cool-popup-register" class="animated_popup-register">Register<i class="fa fa-user fa-padding"></i></a>
                    </li>
                    <%end%>
                    <li class="nav-li select-college">
                      <a href="#college-select-popup" class="animated-popup-college-select">
                        <span class="select-college"><%= cookies[:college_name] %></span>
                        <span>
                          <% if cookies[:college_name].nil? %>
                          <span style="color: white;text-decoration: underline;">Select College</span>
                          <%end%>
                          <%= image_tag("dropDownArrow.png", :class => 'drop-down-college') %></span></a>
                        </li>
                        </span>
                      </ul>
                    </nav>
                  </div>
                </div>


                <div id="shelf">

                  <ul class="global-nav">
                    <li>
                      <a href="/books" class="">
                        <i class="fa fa-home fa-4x fa-color_grey"></i>
                        <span class="nav-tooltip">Home</span>
                      </a>      
                    </li>
                    <li>
                      <a href="/book_groups/new" class="">
                       <span class="fa fa-plus-square fa-4x fa-color_grey"></span>
                       <span class="nav-tooltip">Sell a Book</span>
                     </a>      
                   </li>
                    <li>
                      <a href="#cart-content" class="animated-popup-cart">
                        <span class="fa fa-shopping-cart fa-4x fa-color_grey"></span>
                        <div id="cart-count-wrapper"><span id="cart-item-count">
                        <% if session[:cart].nil? %>
                        0
                        <% else%>
                        <%= session[:cart].count%>
                        <%end%></span></div>
                        <span class="nav-tooltip">Cart</span>
                      </a>
                    </li>
                  </ul>
                </div>

                -->

                <!-- Page Body -->
                <div id="page-body">
                    <%= yield %>
                </div>

                <!-- Footer -->
                <%= render :partial => "shared/footer" %>

                <p id="back-top">
                  <a href="#top"><i class="fa-chevron-circle-up fa"></i></a>
                </p>

                <!-- Toast Message -->
                <%= javascript_include_tag "jquery.toastmessage.js"%>
  <script>
    //for flash messages
    var notice= '<%= flash[:notice] %>' || '<%=notice%>'
    var success= '<%= flash[:success] %>'
    var warning= '<%= flash[:warning] %>' || '<%=alert%>'
    var error= '<%= flash[:error] %>'
    if(notice)
      FlashNotice("notice", notice);
    if(success)
      FlashNotice("success", success);
    if(warning)
      FlashNotice("warning", warning);
    if(error)
      FlashNotice("notice", error);
  </script>

  <%= javascript_include_tag "form-js.js" %>
<!-- Back To Top -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33616834-1', 'auto');
  ga('send', 'pageview');


  // JS for book grid header color change
  $(".latest").hover(function(){
  $(".latest-title").css({
      "background-color" : "rgb(170,38,88)",
    });
  $('.latest').css({
      "border-color" : "rgb(170,38,88)",
      cursor : 'pointer'
  });

  },function(){
  $(".latest-title").css("background-color","rgb(185,185,185)");
  $(".latest").css("border-color","rgb(184,184,184)");
  });

  // Popular
  $(".popular").hover(function(){
  $(".popular-title").css("background-color","rgb(170,38,88)");

  $('.popular').css({
      "border-color" : "rgb(170,38,88)",
      cursor : 'pointer'
  });
  },function(){
  $(".popular-title").css("background-color","rgb(185,185,185)");
  $(".popular").css("border-color","rgb(184,184,184)");
});

// Header Image Change Script

if(document.URL != "http://www.thecollegestore.in/" && document.URL!= "http://thecollegestore.in/" && document.URL!= "http://localhost:3000/"){
  $('#content-wrap').css({
    "background-size" : '100% 100%'
  });
  }

if(document.URL == "http://www.thecollegestore.in/" || document.URL== "http://thecollegestore.in/" || document.URL== "http://localhost:3000/" || document.URL== "http://localhost:3000/#top"){

    $("#page-body").css("width","90%");
}else{
  $("#page-body").css("width","74%");
}
</script>

<!-- for facebook feed -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1451918948362653',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  function fb_feed(name, link, pic_url, caption) {
    link = "http://thecollegestore.in" + link
    if(pic_url == 'noimage.jpg')
    {
      pic_url = "http://thecollegestore.in/assets/logo.png"
    }
    FB.ui({
      display: 'popup',
      method: 'feed',
      name: name,
      link: link,
      picture: pic_url,
      caption: caption,
    }, function(response){});
  }
</script>

</body>
</html>
