<!DOCTYPE html>

<html class="no-js" lang="en"><!--<![endif]-->
<head>
  <%= stylesheet_link_tag "black.css" %>
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TheCollegeStore</title>
  <%= stylesheet_link_tag    "application.css" %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.4.custom.css"%>
  <%= stylesheet_link_tag    "font-awesome.css", "main_layout", "main_responsive", "search-bar"%>
  <%= stylesheet_link_tag    "form.css", "magnific-popup.css" %>
  <%= stylesheet_link_tag    "shreyans.css" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    "form.css"%>
  <%= stylesheet_link_tag    "file.css"%>

  
  <%= javascript_include_tag "jquery-ui-1.10.4.custom.min.js", 'autocomplete-rails.js', 'rails.js' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "main_layout_js.js","additional-methods.js" %>

  <%= stylesheet_link_tag "search-bar"%>


  

<!-- ----- STYLE (ANIMATION) FOR FORM POPUP -------->
  <style type="text/css">
    .mfp-3d-unfold {
      /* start state */
      /* animate in */
      /* animate out */
    }
    .mfp-3d-unfold .mfp-content {
      perspective: 2000px;
    }
    .mfp-3d-unfold .mfp-with-anim {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform-style: preserve-3d;
      transform: rotateY(-60deg);
    }
    .mfp-3d-unfold.mfp-bg {
      opacity: 0;
      transition: all 0.5s;
    }
    .mfp-3d-unfold.mfp-ready .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    .mfp-3d-unfold.mfp-ready.mfp-bg {
      opacity: 0.3;
    }
    .mfp-3d-unfold.mfp-removing .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    .mfp-3d-unfold.mfp-removing.mfp-bg {
      opacity: 0;
    }
  </style>
<!------------- STYLE ENDS ------------------- -->

<!------------- JAVASCRIPT FOR REGISTRATION FORMS ------------------- -->
<%= javascript_include_tag "popup_window"%>
<%= javascript_include_tag "prefixfree" %>
<!------------- JS ENDS ------------------- -->

</head>

<body id="library" class="gecko new-gecko">
  
<div id="shelf">

  <ul class="global-nav">
    <li>
      <a href="/books" class="">
        <i class="fa fa-home fa-4x fa-color_grey"></i>
        <span class="nav-tooltip">Home</span>
      </a>      
    </li>
    <li>
      <a href="https://www.facebook.com/thecollegestore.co.in" class="">
        <span class="fa fa-facebook fa-4x fa-color_grey"></span>
        <span class="nav-tooltip">Facebook</span>
      </a>      
    </li>
    <li>
      <a href="#" class="">
         <span class="fa fa-android fa-4x fa-color_grey"></span>
         <span class="nav-tooltip">Android App</span>
      </a>      
    </li>
    <% if user_signed_in? %>
    <li>
      <a href="/<%=current_user.first_name%>/<%=current_user.id%>" class="">
        <i class="fa fa-user fa-4x fa-color_grey"></i>
        <span class="nav-tooltip">My Profile </span>
      </a>
    </li>
    <% end -%>
    <li>
      <a href="/my_orders" class="">
        <span class="fa fa-book fa-4x fa-color_grey"></span>
        <span class="nav-tooltip">Orders</span>
      </a>      
    </li>
    <li>
      <a href="/wishlist/show" class="">
          <span class="fa fa-list-ul fa-4x fa-color_grey"></span>
          <span class="nav-tooltip">Wish List</span>
      </a>      
    </li>
    <li class="inline-popups">
      <a href="#cart-popup" class="" data-remote="true" data-effect="mfp-3d-unfold">
        <span class="fa fa-shopping-cart fa-4x fa-color_grey"></span>
        <div id="cart-count-wrapper"><span id="cart-item-count">
        <% if session[:cart].nil? %>
        0
        <% else%>
        <%= session[:cart].count%>
        <%end%></span></div>
        <span class="nav-tooltip">Cart</span>
      </a>
    </li>
    <li>
      <a href="/contact_us" class="">
          <span class="fa fa-phone fa-4x fa-color_grey"></span>
          <span class="nav-tooltip">Contact Us</span>
      </a>      
    </li>
    <% if user_signed_in? %>
      <li>
        <a href="/logout" class="">
            <span class="fa fa-sign-out fa-4x fa-color_grey"></span>
            <span class="nav-tooltip">Log out</span>
        </a>      
      </li>
    <% end %>
  </ul>
  
  <!-- <a class="trigger-shelf shelf-opener"><span class="icon icon-open-shelf"></span></a> -->

</div>

<div id="content-wrap">
  <div id="header-content">
  <!-- <div class="fixed-heading"> -->
    <!-- <div class="grid-container grid-parent"> -->
      <!-- <div class="primary-heading"> -->
        <!-- <div class="global-secondary-nav"> -->
          
          <!-- <span id="header-title"> -->
            <div class="logo-div" style="float:left">
                <%= image_tag("logo.jpg",:class => 'logo') %>
            </div>
            <div id="top_bar"></div>
            <div class="search-bar-header" id="search-bar-header">
                <%= render :partial => 'shared/search', :locals => {:book_names => $book_names} %>
                <br>
                <div class="icons">
                <%= image_tag('Buy-256.png', :class => 'buy-icon header-icon', :style => 'width:75px') %>
                <%= link_to image_tag('Sell-256.png', :class => 'sell-icon header-icon', :style => 'width:75px'), '/book_groups/new' %>
              </div>
            </div>
            
            <div class="user-bar-header" style="float:right; padding: 10px">        
              <ul class="user-list inline-popups">
                <% if user_signed_in? %>
                <li>
                    <span style="display: -webkit-inline-box;padding: 8px;font-size: 17px;"><%= link_to "#{current_user.first_name}", edit_user_registration_path, :class => 'username-header' %></span>
                </li>
                <%end%>
                <% if !user_signed_in? %>
                  <li>     
                    <a href="#test-popup" data-effect="mfp-3d-unfold" class="button button-primary">Login</a>
                  </li>
                  <li>
                    <a href="#test-popup-signup" data-effect="mfp-3d-unfold" class="button button-primary">Register</a>
                  </li>
                <%end%>
                 <li>
                    <a><span class="select-college"><%= cookies[:college_name] %></span>
                      <span><a href="#college-select-popup" data-effect="mfp-3d-unfold">
                      <% if cookies[:college_name].nil? %>
                        <span style="color:white;">Select your college</span>
                      <%end%>
                      <%= image_tag("dropDownArrow.png", :class => 'drop-down-college') %></a></span></a>
                  </li>
                </ul>
              </div>
              
    </div>
  </div>

  <div id="featurette-2" class="grid-container featurette" data-featurette="library-index">
    <div style="right: auto; width: 250.2px;" class="grid-20 push-80 fixed-sidebar">
      <div style="" class="scroll-mask">
        <div class="scroll-container">
          <div class="content-filter">
            <div class="filters-container">
              <div id="topics-expander" class="form-group">
                <h4><a>Topics <span class="icon icon-chevron-down"></span></a></h4>
                <ul class="filter-list filter-list-primary featurette" data-featurette="filter-list" id="topic">
                  <li><a id="all_categories_link"href="/book_groups/categories/all" data-remote=true>All Categories</a></li>
                      
                  <% $categories.each do |c|%>
                  <li>
                    <a  id="category_<%=c.id%>_link" class="category_wise_books" href="/book_groups/category/<%=c.id%>" data-remote=true>
                      <span><%= c.name%><span>
                      <span class="cat-book-count"><b><%= c.total_books%></b></span>
                      </a>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!------------------------- CODE FOR LOGIN FORM ----------- -->
<div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
  <div id="login-form">
    <h2>welcome back</h2>
    <fieldset>
      <%= form_for(User.new, url: session_path(:user), :validate => true) do |f| %>
      <div class="pull-left">
      <div class="field">
        <div >
        <%= f.email_field :email, autofocus: true, :placeholder => "Email ID", :class => "field-email", :validate => {:uniqueness => false} %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "off", :class=>"field-passwd", :placeholder => "Password" %>
          </div>
        <%= f.submit "Sign in", :class => "field-submit" %>

        <footer class="clearfix">
          <% if Devise.mappings[:user].rememberable? -%>
          <div class="remember"><%= f.check_box :remember_me, :class => "chkbox"%><%= f.label :remember_me%></div>
        <% end -%>
        </footer>
        </div>
      </div>
      <div class="middle">
        <%= image_tag ("OrSeperator.png") %>
        
      </div>
      <% end %> 
      <div class="right">
        <%= render :partial => "devise/shared/links_signin", :locals => {:resource_name => :user, :resource_class => User.new} %> 
      </div>
    </fieldset>
  </div>
</div>
<!---------------------------------- LOGIN FORM ENDS ---------------------->

<!---------------------------------- CODE FOR SIGN-UP FORM ---------------------->
<div id="test-popup-signup" class="white-popup mfp-with-anim mfp-hide">
  <div id="login-form-signup">
    <h2>get started</h2>
    <fieldset>
      <%= form_for(User.new, url: registration_path(:user), :validate => true) do |f| %>
       
        <div class="pull-left">
        <div class="field">
        <div>
        <%= f.text_field :first_name, autofocus: true, :class =>"field-text", :placeholder => "First Name" %></div>

        <div>
        <%= f.text_field :last_name, :class =>"field-text", :placeholder => "Last Name" %></div>

        <div>
        <%= f.email_field :email, :class => "field-email", :placeholder => "Email ID" %></div>

        <div>
        <%= f.password_field :password, autocomplete: "off", :class =>"field-passwd", :placeholder => "Password" %></div>

        <div>
        <%= f.text_field :mobile, :class =>"field-text", :placeholder => "Mobile Number" %></div>
        <div>
        <%= f.hidden_field :college_id, :value=> cookies[:college_id] %></div>
        <div><%= f.submit "Sign up", :class => "field-submit" %></div>
        </div>
        </div>
      <% end %>
      <div class="middle">
        <%= image_tag ("OrSeperator.png") %>
      </div>
      <div class="right">
        <%= render :partial => "devise/shared/links_signup", :locals => {:resource_name => :user, :resource_class => User.new} %> 
      </div>
    </fieldset>
  </div>
</div>
<!---------------------------------- SIGN-UP FORM ENDS ---------------------->

<!-- College Select Popup -->
<div id="college-select-popup" class="white-popup mfp-with-anim mfp-hide">
  <%= render :partial => "shared/person_category_form"%>
</div>
<!-- Ends -->
<div id="cart-content">
  <%= render :partial => "cart/cart", :locals => {:books => session[:cart]}%>
</div>
<div id="sub-heading">
</div>
<div id="page-body">
  <%= yield %>
</div>




<!-- Footer -->
<div class="footer-wrapper">
<div class="finalfooter">
<div class="footerwrapper">
<div class="otherlinks">

    <div class="linklist">

      <div class="heading" style="color:white;">
        TheCollegeStore
      </div>
      <a href="/our_team" style="text-decoration:none;"><div class="innertext"> Our Team </div></a>
      <br>
      <a href="/about_us" style="text-decoration:none;"><div class="innertext"> About us </div></a>
      <br>
      <a href="/contact_us" style="text-decoration:none;"><div class="innertext"> Contact us </div></a>
      <br>
      <a href="/privacy_policy" style="text-decoration:none;"><div class="innertext"> Privacy Policy </div></a>
      <br>
      <a href="/disclaimer" style="text-decoration:none;"><div class="innertext"> Disclaimer </div></a>
      <br>
      <a href="/terms" style="text-decoration:none;"><div class="innertext"> Terms and Condition </div></a>
    </div>

</div>
<div class="otherlinks">

    <div class="linklist">

      <div class="heading" style="color:white;">
        Categories
      </div>
            <% $categories.each do |c|%>
              <a href="/book_groups/category/<%=c.id%>" style="text-decoration:none;" data-remote=true>
                <div class="innertext"><%= c.name%></div>
                </a><br>
            <% end %>
    </div>

</div>


<div class="otherlinks">

  <div class="linklist">

      <div class="heading" style="color:white">
        Associated Colleges
      </div>

      <div class="innertext"> DA-IICT </div>
      <br>
      <div class="innertext"> Nirma </div>
      <br>
      <div class="innertext">  PDPU </div>
      <br>
      <div class="innertext"> IIT-Gandhinagar </div>
      <br>
      <div class="innertext"> GNLU </div>
    
    </div>
  </div>
<div class="linksocial">
  <div class="linkicons">
    <div class="inline-floating">
    <a href="https://www.facebook.com/thecollegestore.co.in"><%=image_tag('Facebook.png')%></a>
   </div> 
   <div class="inline-floating">
   <a href="https://www.google.co.in/?gfe_rd=cr&ei=T02bU925MaTO8geB-oDgDw&gws_rd=ssl"><%= image_tag('Google.png') %></a>
   </div>
   <div class="inline-floating">
   <a href="https://www.twitter.com"><%= image_tag('Twitter.png') %></a>
   </div>
  </div>
</div>

</div>

</div>
</div>


<!-- Fixed Footer -->
<div class="fixed-footer" style="display:none; background: rgb(43, 194, 127)">
  <div style="margin-left: 250px;">
    <div class="search-bar-footer" style="margin-left: 40px;">
      <form id="main_search_bar" class="form-wrapper cf" style="width=auto;" action="/search">
            <input type="text" name="query" placeholder="Search by ISBN/Title/Author" id="autocomplete" style="height:40px; border-radius: 4px 0px 0px 4px; padding: 15px;" required>
            <button style="float:left;"type="submit">Search</button>
      </form>
    </div>
                <div class="footer-icons">
                <%= image_tag('Buy-256.png', :class => 'buy-icon header-icon', :style => 'width:50px') %>
                <%= link_to image_tag('Sell-256.png', :class => 'sell-icon header-icon', :style => 'width:50px'), new_book_group_path %>
              </div>
            </div>
</div>

<!---------------------------- JAVASCRIPT FOR LOGIN-REGISTRATION FORMS -------------------->
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "inline_popup.js"%>
<!---------------------------------- JAVASCRIPT ENDS ---------------------->

  <script>
    //for flash messages
    var notice= '<%= flash[:notice] %>'
    var success= '<%= flash[:success] %>'
    var warning= '<%= flash[:warning] %>'
    var error= '<%= flash[:error] %>'
    if(notice)
      FlashNotice("notice", notice);
    else if(success){
      FlashNotice("success", success);
    }
    else if(warning)
      FlashNotice("warning", warning);
    else if(error)
      FlashNotice("notice", error);
  </script>

  <script>
$(window).scroll(function () { 
    //You've scrolled this much:
       // $('p').text("You've scrolled " + $(window).scrollTop() + " pixels");
       if($(window).scrollTop() > 150)
        
      $('.fixed-footer').css({
        'display':'inline'
      });

      if($(window).scrollTop() < 150)
        
      $('.fixed-footer').css({
        'display':'none'
      });


});
</script>

</body>
</html>
